<h1>WELCOME TO EPICODUS GENERAL HOSPITAL</h1>

<a href="/patients/new">Register a New Patient</a>
<a href="/doctors">View List of Resident Doctors</a>
<a href="/specialtys">Find a Doctor by Specialty</a>
