<!DOCTYPE html>
<html>
  <head>
    <title>EPICODUS GENERAL HOSPITAL</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
    <link href="https://fonts.googleapis.com/css?family=Creepster" rel="stylesheet">
  </head>
  <body>
    <!-- begin inner template-->
    <div class="container">
      #parse( $template )
    </div>
    <!-- end inner template-->
  </body>
</html>
