<!--patient-form.vtl.-->

<h1>PATIENT PROFILE>

  <div class="form-group">
    <label for="name">Patient Name</label>
    <input id="name" name="name" class="form-control" type="text">
  </div>

  <div class="form-group">
    <label for="dob">Date of Birth</label>
    <input id="dob" name="dob" class="form-control" type="text">
  </div>

  <button type="submit" class="btn">Submit Form</button>
</form>

<!--patient-form.vtl.-->
