<!--specialty-form.vtl-->

<h1>MEDICAL SPECIALTIES</h1>

  <div class="form-group">
    <label for="name">Add a Medical Specialty</label>
    <input id="name" name="name" class="form-control" type="text">
  </div>

  <button type="submit" class="btn">Submit Form</button>
</form>

<!--specialty-form.vtl-->
